.fragrancelist {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  background-color: var(--color-bg); 
  box-sizing: border-box;
  padding:5rem 25rem;


}

  
  @media (max-width: 900px) {
    .fragrancelist {
      grid-template-columns: repeat(2, 1fr);
      padding:5rem 5rem;
    }
  }
  
  @media (max-width: 600px) {
    .fragrancelist {
      grid-template-columns: 1fr;
      padding:5rem 2rem;
    }
  }
    