:root {
    --color-bg: #000000;
    --color-text: #f5f5f5;
    --color-gold:#bfa14a;
    --color-border: rgba(255, 215, 0, 0.15);
    --font-logo:'Parisienne', cursive;;
    --font-main: 'Bodoni Moda', serif; 
  }
  